.game{
    width: 300px;
    padding: 1rem;
    background: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    margin: 8px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img{
    max-width: 100%;
    height: auto;
}