/*Standard Elements*/

body {
    background: linear-gradient(#1f1e23, #8a40ff);
    background-position: initial initial;
    background-repeat: initial initial;
    margin: 0px;
    padding: 0px;
  }
  
  h1 {
    color: #4d5b76;
    font-size: 3em;
  }
  
  h2 {
    font-size: 1.75em;
    color: #3a4a53;
  }
  
  
  /* Dont merge End */
  
  .leftBar {
    width: 100%;
    position: relative;
  }
  
  .rightBarTop,
  .rightBarBottom {
    position: relative;
    width: 100%;
  }
  
  .rightBarBottom > .list-group > .post {
    margin: 10px 0 10px 0;
  }
  
  
  /*Blocks*/
  
  .panel-heading {
    padding: 15px 20px;
    
  }
  
  .panel {
    border: 1px solid #EAEAEA;
    background: white;
    border-radius: 3px;
    box-shadow: none;
  }
  
  .panel-default > .panel-heading {
    border-color: #EAEAEA;
    background: black;
    color: #fff
  }
  
  .panel .panel-heading {
  
  }
  
  .panel .panel-heading h2 {
    margin: 10px 0 10px 0;
  }
  
  
  /* Extra */
  
  .user-avatar {
    position: relative;
    border: 5px solid white;
    box-shadow: 0px 0px 1px 0px #EAEAEA;
  }
  
  
  /* Change avatar */
  
  .change-photo {
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
    overflow: hidden;
  }
  
  .camera-icon {
    position: absolute;
    width: 100%;
    cursor: pointer;
    bottom: 0;
    padding: 10px;
  }
  
  .change-cover,
  .change-photo {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 30px black;
  }
  
  .editPhoto {
    opacity: 0;
    margin-left: 5px;
  }
  
  .li-vertical {
    vertical-align: middle;
  }
  
  .camera-icon:after {
    background: #000;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: -1;
    opacity: .5;
  }
  
  .change-photo:hover .camera-icon:after,
  .change-photo:focus .camera-icon:after {
    top: 0%;
  }
  
  .change-photo:hover .camera-icon:hover:after,
  .change-photo:focus .camera-icon:focus:after {
    opacity: .6;
  }
  
  .change-photo:hover .editPhoto {
    opacity: 1;
  }
  
  
  /* Change avatar end */
  
  .user-sidebar {
    margin-top: -190px;
  }
  
  .user-sidebar-bottom {
    margin: 20px 0 20px 0;
  }
  
  .user-sidebar-bottom h3 {
    color: white;
    font-size: 20px;
  }
  
  .user-sidebar-bottom p {
    color: #999;
    font-size: 15px;
  }
  
  .thumb-sm {
    max-width: 48px;
    max-height: 48px;
  }
  
  
  