/*Standard Elements*/

body {
    background: linear-gradient(#1f1e23, #8a40ff);
    background-position: initial initial;
    background-repeat: initial initial;
    margin: 0px;
    padding: 0px;
  }
  
  h1 {
    color: #4d5b76;
    font-size: 3em;
  }
  
  h2 {
    font-size: 1.75em;
    color: #3a4a53;
  }
  
  
  /* Dont merge End */
  
  .leftBar {
    width: 100%;
    position: relative;
  }
  
  .rightBarTop,
  .rightBarBottom {
    position: relative;
    width: 100%;
  }
  
  .rightBarBottom > .list-group > .post {
    margin: 10px 0 10px 0;
  }
  
  
  /*Blocks*/
  
  .panel-heading {
    padding: 15px 20px;
    
  }
  
  .panel {
    border: 1px solid #EAEAEA;
    background: white;
    border-radius: 3px;
    box-shadow: none;
  }
  
  .panel-default > .panel-heading {
    border-color: #EAEAEA;
    background: black;
    color: #fff
  }
  
  .panel .panel-heading {
  
  }
  
  .panel .panel-heading h2 {
    margin: 10px 0 10px 0;
  }
  
  
  /* Extra */
  
  .user-avatar {
    position: relative;
    border: 5px solid white;
    box-shadow: 0px 0px 1px 0px #EAEAEA;
  }
  
  
  /* Change avatar */
  
  .change-photo {
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
    overflow: hidden;
  }
  
  .camera-icon {
    position: absolute;
    width: 100%;
    cursor: pointer;
    bottom: 0;
    padding: 10px;
  }
  
  .change-cover,
  .change-photo {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 30px black;
  }
  
  .editPhoto {
    opacity: 0;
    margin-left: 5px;
  }
  
  .li-vertical {
    vertical-align: middle;
  }
  
  .camera-icon:after {
    background: #000;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: -1;
    opacity: .5;
  }
  
  .change-photo:hover .camera-icon:after,
  .change-photo:focus .camera-icon:after {
    top: 0%;
  }
  
  .change-photo:hover .camera-icon:hover:after,
  .change-photo:focus .camera-icon:focus:after {
    opacity: .6;
  }
  
  .change-photo:hover .editPhoto {
    opacity: 1;
  }
  
  
  /* Change avatar end */
  
  .user-sidebar {
    margin-top: -190px;
  }
  
  .user-sidebar-bottom {
    margin: 20px 0 20px 0;
  }
  
  .user-sidebar-bottom h3 {
    color: white;
    font-size: 20px;
  }
  
  .user-sidebar-bottom p {
    color: #999;
    font-size: 15px;
  }
  
  .thumb-sm {
    max-width: 48px;
    max-height: 48px;
  }
  
  
  /*********************************
  
          Tabs
  
  *********************************/
  
  .panel>.list-group .list-group-item,
  .panel>.panel-collapse>.list-group .list-group-item {
    border-width: 1px 0;
    border-radius: 0;
    border-color: #EAEAEA;
  }
  
  .list-group-item {
    border: 1px solid #EAEAEA;
  }
  
  .panel .tabs-heading {
    background: #000000;
  }
  
  .tabs-heading {
    padding: 0;
    border-bottom: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    
  }
  
  .nav-tabs>li {
    margin-right: 8px;
  }
  
  .nav-tabs>li>a {
    margin-right: 0px;
    padding: 12px 15px;
    font-size: 15px;
    color: #ffffff;
    
    
  }
  
  .nav>li>a:focus,
  .nav>li>a:hover {
    text-decoration: none;
    background-color: white;
  }
  
  .nav-tabs>li.active:after,
  .nav-tabs>li:hover:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 0.25em;
    bottom: 0;
  }
  
  .nav-tabs>li.active:after,
  .nav-tabs>li:hover:after,
  .profileHeader {
    background-color: #1cceff;
  
  }
  
  .nav-tabs>li:before {
    content: "";
    background-color: #D6E6F6;
    width: 1px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: -5px;
  }
  
  .nav-tabs>li:last-of-type:before {
    content: "";
    display: none;
    opacity: 0;
  }
  
  .nav-tabs>li.active>a,
  .nav-tabs>li.active>a:focus,
  .nav-tabs>li.active>a:hover {
    background-color: transparent;
    border-color: transparent;
    color: #1cceff;
    border-radius: 0;
  }
  
  .nav-tabs>li>a:hover {
    background-color: transparent;
    border-color: transparent;
  }
  
  
  /* Extra end */
  
  .tab-pane {
    padding: 15px 5px;
  }
  
  .responsive-tabs.nav-tabs {
    position: relative;
    z-index: 10;
    overflow: visible;
    border-bottom: none;
  }
  
  .responsive-tabs.nav-tabs span.glyphicon {
    position: absolute;
    top: 23px;
    right: 22px;
  }
  
  .responsive-tabs.nav-tabs span.glyphicon.glyphicon-triangle-top {
    display: none;
  }
  
  .responsive-tabs.nav-tabs > li {
    display: none;
    float: none;
    text-align: center;
  }
  
  .responsive-tabs.nav-tabs > li:last-of-type > a {
    margin-right: 0;
  }
  
  .responsive-tabs.nav-tabs > li > a {
    margin-right: 0;
  }
  
  .responsive-tabs.nav-tabs > li.active {
    display: block;
  }
  
  .responsive-tabs.nav-tabs.open span.glyphicon.glyphicon-triangle-top {
    display: block;
  }
  
  .responsive-tabs.nav-tabs.open span.glyphicon.glyphicon-triangle-bottom {
    display: none;
  }
  
  .responsive-tabs.nav-tabs.open > li {
    display: block;
  }
  
  .responsive-tabs.nav-tabs.open > li a {
    border-radius: 0;
  }
  
  .responsive-tabs.nav-tabs.open > li:first-of-type a {
    border-radius: 2px 2px 0 0;
  }
  
  .responsive-tabs.nav-tabs.open > li:last-of-type a {
    border-radius: 0 0 2px 2px;
  }
  
  
  /* @Media */
  
  @media (min-width: 768px) {
    .responsive-tabs.nav-tabs > li.active a {
      border-bottom-color: transparent;
    }
    .responsive-tabs.nav-tabs > li {
      display: block;
      float: left;
    }
    .responsive-tabs.nav-tabs.open span.glyphicon.glyphicon-triangle-top {
      display: none;
    }
    .responsive-tabs.nav-tabs span.glyphicon {
      display: none;
    }
  }
  
  @media (max-width: 768px) {
    .nav-tabs>li>a {
      background-color: #fff;
      border: none;
      border-radius: 4px 4px 4px 4px;
    }
    .nav-tabs>li.active:after,
    .nav-tabs>li:hover:after {
      background-color: transparent;
    }
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover {
      background-color: #fff;
      border: none;
      color: black;
    }
    .nav-tabs>li>a:hover {
      background-color: white;
      border-color: #ddd #ddd #ddd;
    }
    .nav-tabs>li {
      margin-right: 0;
    }
    .nav-tabs>li:before {
      display: none;
    }
  }
  
  @media (max-width: 991px) {
    .profileHeader {
      display: none;
    }
    .user-sidebar {
      margin-top: 50px;
    }
  }
  
  @media (max-width:350px) {
    .user-wrap {
      width: 327px;
    }
  }
  
  .media > .tab-pane > .pull-left {
    margin-right: 10px;
  }
  
  .responsive-tabs.nav-tabs #bold {
    font-weight: bold;
  }
  
  
  /* Latest */
  
  .panel-block-header {
    border-top: 1px solid #EAEAEA;
    padding: 20px 20px;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
  }
  
  .panel-block-options {
    float: right;
    margin: -7px 0 0 0;
    padding: 0;
    height: 30px;
    list-style: none;
    line-height: 30px;
  }
  
  .panel-block-title {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2;
    margin: 0;
  }
  
  .panel-block-options>li {
    display: inline-block;
    margin: -2px 0px;
    padding: 0;
  }
  
  .list-group .advanced-search {
    border-top: solid 1px #EAEAEA;
    background-color: #fff;
    padding: 20px 20px;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
    display: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  
  .list-group .filter-open {
    display: block;
  }
  
  .list-group .active-icon {
    color: black;
  }
  
  .list-group .filter-arrow:before {
    content: "\f0d7";
  }
  
  .list-group .active-icon .filter-arrow:before {
    content: "\f0d8";
  }
  
  .btn-settings {
    color: #a2a2a2;
    background-color: transparent;
    border-color: #E2E2E2;
  }
  
  
  /* HeaderBanner */
  
  .profileHeader {
    position: relative;
    height: 350px;
    margin-bottom: 1em;
  }
  
  .profileHeader:before {
    display: block;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    z-index: 0;
  }
  
  .profileBanner {
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
  }
  
  
  /* Post Begin */
  
  
  /* Post End */