.addButton{
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    font-weight: bold;
    width: 200px;
    color: white;
    padding: 16px 32px;
    background-color: #1f1e23;
}